body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome > button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    margin-top: 5px;
}

.backstage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10);
    z-index: 0;
}

#logs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 5px;
    z-index: 200;
    overflow: auto;
    border: 1px solid green;
    background-color: #CCC;
    color: black;
    display: none; 
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    max-height: 95%;
    padding: 15px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid red;
    z-index: 90;
    background-color: rgba(125, 125, 125, 0.5);
    font-size: 16px;
    line-height: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

#controls > svg.feather {
    width: 30px;
    height: 30px;
}

.btn {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    padding: 5px;
    margin-top: 5px;
}

#uuid {
    font-size: 14px;
    color: #ccc;
    font-style: italic;
    bottom: 20px;
}

.stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    /* border: 1px solid blue; */
    /* background-color: blue; */
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid green; */
    transform-origin: top left;
    /* forced base size */
    /* width: 1920px;   */
    height: 1080px; 
    /* object-fit: fill; */
}

.player.mirrored {
    transform: scaleX(-1);
}

#zoomMinus, #zoomPlus {
    position: relative;
    top: -27px;
    left: 86px;
}

#reset {
    position: relative;
    top: -43px;
    left: 90px;
}

.device {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background-color: rgba(100, 30, 30, 0.5);
}

.device.guest {
    border: 1px solid #ff0;
    background-color: rgba(100, 100, 30, 0.5);
}

.device.alive {
    border: 1px solid #0f0;
    background-color: rgba(30, 100, 30, 0.5);
}

.device.selected, .device.alive.selected, .device.guest.selected {
    border: 1px solid #fff;
    background-color: rgba(30, 30, 30, 0.5);
}